<h2 class="screen-align">Createsstudent</h2>
<div id="template-iw2h" class="row">
    <div id="template-i0r3" class="cell">
        <label id="template-iy6e" class="label ">
            <div id="template-i76rv" class="">Name</div>
        </label>
        <input id="template-ivik" [(ngModel)]="detailscollege.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-isff1" class="button btn btn-primary ">
            <div id="template-iorsr" class="">Screate</div>
        </button>
    </div>
    <div id="template-iprg" class="cell">
        <label id="template-ih4y" class="label ">
            <div id="template-ikj1k" class="">Email</div>
        </label>
        <input id="template-ixpj" [(ngModel)]="detailscollege.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>