.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-idwv {
    width: 420px;
    __p: false;
}

#template-igzl {
    width: 420px;
    __p: false;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-iue1 {
    transform: translateX(15px) translateY(24px);
}

#template-ifp2 {
    width: 420px;
    __p: false;
}

#template-if3c {
    width: 420px;
    __p: false;
}

#template-igbx {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

#template-iw9l {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-iugs {
    transform: translateX(15px) translateY(22px);
}

#template-ioti {
    width: 420px;
    __p: false;
}

#template-iedp {
    width: 420px;
    __p: false;
}