<h2 class="screen-align">Createstudent</h2>
<div id="template-iugs" class="row">
    <div id="template-ioti" class="cell">
        <label id="template-ikzr" class="label ">
            <div id="template-io3ia" class="">Name</div>
            <br id="template-i2lyy" class=""></br>
        </label>
        <input id="template-ir2f" [(ngModel)]="detailsstudent.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-iifg3" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-io0sz" class="">Screate</div>
        </button>
    </div>
    <div id="template-iedp" class="cell">
        <label id="template-iyfk" class="label ">
            <div id="template-itopf" class="">Age</div>
        </label>
        <input id="template-ikyp" [(ngModel)]="detailsstudent.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>